<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="map">
	<insert id="insert" parameterType="com.mybatisspring.domain.User">
		insert into user(name,age) values(#{name},#{age})
	</insert>
	<select id="queryListAll" parameterType="com.mybatisspring.domain.User" resultType="com.mybatisspring.domain.User" >
		select * from user 
	</select>
</mapper>